@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://necolas.github.io/normalize.css/3.0.2/normalize.css);

body {
    background: #ECEEEF;
    text-align: center;
    margin: 100px auto;
    width: 80%;
    padding: 0 40px;
    font: 14px normal 'Varela Round', Helvetica, serif;
}

h1 {
    font-size: 20px;
    color:white;
}

div {
    background: #c25975;
    border-radius: 4px;
    border: 1px solid #D5DDE4;
    margin: -40px 0 0;
}

ol {
    list-style-type: none;
    padding: 0;
    background:white;
    margin: 0 0;
    width: 100%;
    display: inline-block;

}

li {
    color: #2C3238;
    width: 96%;
    padding: 15px 2%;
    margin: 0;
    text-align: left;
    border-top: 1px solid #D5DDE4;
}

li span {
    float: right;
    color: #777B7E;
}

li.current {
    background: #ffd7d8;
}

button {
    margin:10px;
    padding:10px 35px;
    border: none;
    border-radius: 5px;
    background: white;
    
}